.wi {
  font-family: 'Weather Icons', weathericons-regular-webfont;
    font-size:140;
}
.time{
	color:#fff;
	opacity:0.4;
	font-weight:bold;
	font-size:35;
	horizontal-align:left;
	text-transform:uppercase;
	letter-spacing:.8;
}
.forecast-info-text{
	margin-left: 40;
}
.summary{
	width:270;
}

.forecast{
	margin-top: 5;
}

.info-text{
	color:#fff;
	horizontal-align:left;
	font-size:24;
	font-weight: bold;
}

.wind{
	margin-top: 15;
}

.degrees{
	font-size:45;
	color:#fff;
	font-weight:normal;
}

.nav-bar{
	height:50;
	width:100%;
}
.nav-bar Label{
	margin-left:20;
	margin-bottom:13;
}
.location-text{
	font-size: 30;
}