
.wi {
  font-family: 'Weather Icons', weathericons-regular-webfont;
    font-size:90;
}

.fa{
	font-family: 'FontAwesome', fontawesome-webfont;
	font-size: 25;
}



Page, .action-bar, #container-wrapper{
    background-color:#8ba892;
	font-family: 'SF UI Text Medium';
}
.action-bar, .nav-bar{
	color:#fff;
}

.morning{
	background-color: #e3bb88;
}
	.morning-icon{
		color: #d89864;
	}

.day{
	background-color: #d89864
}
	.day-icon{
		color: #644749;
	}
.evening{
	background-color: #b1695a;
}
	.evening-icon{
		color: #e3bb88;
	}

.night{
	background-color: #644749;
}
	.night-icon{
		color:#d89864;
	}


.sad-face{
	font-size: 85;
	margin:35 0 25 0;
	color: #fff;
	text-align:center;

}

.error-text{
	color:#fff;
	font-size: 25;
	text-align:center;
}
.time{
	color:#fff;
	opacity:0.4;
	font-weight:bold;
	font-size:18;
	horizontal-align:left;
	text-transform:uppercase;
	letter-spacing:.4;
}

.summary{
	width:150;
}

.forecast{
	margin-top: 5;
}

.info-text{
	color:#fff;
	horizontal-align:left;
	font-size:14;
	font-weight: bold;
}

.wind{
	margin-top: 12;
}

.degrees{
	font-size:25;
	font-weight:normal;
	color:#fff;
}

.nav-bar{
	height:50;
	width:100%;
}
.nav-bar Label{
	margin-left:20;
	margin-bottom:13;
}
.location-text{
	font-size: 20;
}

