.wi {
  font-family: 'Weather Icons', weathericons-regular-webfont;
  font-size:60;
}

button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 36;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
}
.time{
    color:#000;
    opacity:0.9;
    font-weight:bold;
    font-size:65;
}
.info-text{
    color:#fff;
}