#container-wrapper{
	background-color:#62FCE0;
}

.nav-bar{
	color:#141222;
}

.morning{
	background-color: #332F4B;
}
	.morning-icon{
		color: #56C7B9;
	}

.day{
	background-color: #29283F
}
	.day-icon{
		color: #56C7B9;
	}
.evening{
	background-color: #212034;
}
	.evening-icon{
		color: #56C7B9;
	}

.night{
	background-color: #131121;
}
	.night-icon{
		color:#56C7B9;
	}